{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}

<h1>Hello, this blog is for mega coders!</h1>
    <div>
        {% for contents in content %}
            <h2><a href="{{ path('page', {id: contents.id}) }}">{{ contents.title }}</a></h2>
            <p>{{ contents.preview }}</p>
            <span>Category: {{ contents.category }}</span>  <span class="float-right"><a href="{{ path('edit-post', {id: contents.id}) }}">edit</a> || <a href="{{ path('delete-post', {id: contents.id}) }}">delete</a> </span>
            <p><a href="{{ path('page', {id: contents.id}) }}">Reed more</a></p>
        {% endfor %}
    </div>
{% endblock %}